<!DOCTYPE html>
<html>
<head>
    <title>Add subtitle |AMDIN</title>
</head>
<body>
<h1>Add subtitle</h1>
<a href="/admin/subtitles">返回字幕列表</a>
<form method="post">
    <p>
        <label for="">英文字幕</label>
    <textarea type="text" rows="5" cols="80" name="english"></textarea>
    </p>
    <p>
        <label for="">中文字幕</label>
    <textarea type="text" rows="5" cols="80"  name="chinese"></textarea>
    </p>
    <p>
        <input type="submit" value="确认添加"/>
    </p>

</form>

</body>
</html>
